
.invisible {
    display: none;
}

.create-user form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 0px;
}

.account-type-selections {
    display: flex;
    width: 30%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.account-type-button {
    font-size: 1.5em;
    padding: 10px 40px 10px 40px;
}