
.results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
        gap: 50px;
        background-color: #212121;
        width: 90%;
        margin: auto;      
}