
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=Sora:wght@200;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

* :not(input, button) {
  color: white;
}

.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

